
/*Nav Header */
.navbar-text {
    text-align: center;
    font-size: 25px;
}

.top    {
    margin-bottom: 10px;
    background-color: #E91E63;
    color: white;
}

.backButton {
    color:white;
    font-size: 25px;
    line-height: 25px;
}

/*Pokemon Description */

.pokeImg {
    margin-top: 15px;
}

.title {
    margin: 10px 0 10px 0;
}

.title img {
    max-height: 20px;
}

.title h2, b {

    color: #E91E63;
    font-size: 20px;
    margin: 0px;
}

.title i {
    font-size: 35px;
    line-height: 35px;
}

.icons img {
    margin-left: 8px;
}

